<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Notifo Settings -->
		<add key="notifo_api_key" value=""></add>
		<add key="notifo_usename" value=""></add>
		
		<!-- XBMC Settings -->
		<add key="xbmc_username" value=""></add>
		<add key="xbmc_password" value=""></add>
		<add key="xbmc_hostname" value=""></add>
		<add key="xbmc_portnumber" value=""></add>
		
		<!-- TheMovieDB Settings -->
		<add key="themoviedb_api_key" value=""></add>

		<!-- Don't forget the \SabMc.TvShow\Libs\TvRenamer\ config file! -->
	</appSettings>
</configuration>
