<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TvRenamer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>

      <section name="showSettings" type="TvRenamer.Configuration.ShowSettingsSection, TvRenamer"/>
    </configSections>
    <applicationSettings>
        <TvRenamer.Properties.Settings>
            <setting name="NumberedRenamePattern" serializeAs="String">
				<value>%sn\Season %s\%fn.%ext</value>
            </setting>
            <setting name="TempDownloadRoot" serializeAs="String">
				<!-- CHANGE THIS -->
                <value>D:\DOWNLOADS\TV Shows</value>
            </setting>
            <setting name="ReplaceInvalidCharactersWith" serializeAs="String">
                <value />
            </setting>
            <setting name="TVRageTries" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TVRageTimeoutSeconds" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="FinalDownloadRoot" serializeAs="String">
				<!-- CHANGE THIS -->
                <value>D:\XBMC-LIBRARY\Tv Shows\</value>
            </setting>
            <setting name="DatedRenamePattern" serializeAs="String">
                <value>%sn\%sn - %yyyy-%0m-%0d - %en.%ext</value>
            </setting>
            <setting name="UpdateFolderLastWriteDate" serializeAs="String">
                <value>True</value>
            </setting>
        </TvRenamer.Properties.Settings>
    </applicationSettings>

  <showSettings>
    <titleReplacements>
      <!-- Jamie Olivers Food Revolution (Scene name) is listed as "Food Revolution" in TV Rage -->
      <add search="jamie oliver\'?s " replace="" isRegex="True" />
    </titleReplacements>
  </showSettings>
</configuration>